header {
    height: 20vh;
    text-align: center;
    background:black;
}
h1 {
    font-size:3rem;
    color:#ed4343;

}
h2 {
    text-align: center;
    padding-top: 5rem;
    font-size: 3rem;
}
.sub-title {
    font-size:1.5rem;
    color: dimgray;
}
a {
    text-decoration: none;
    color:white;
}
ul {
    overflow:auto;
    padding-left:2.5rem;
    background: dimgray;
}
.encounter-list {
    height: 400px;
    overflow:auto;
}
footer {
    background: black;
    height:30vh;
}

.button {
    color:white;
    margin: 0 auto;
    font-size: 3rem;
    text-align:center;
    padding-top:2rem;
}
li p {
    color:white;
}